<div class="app-container">
  <h2>Créer un Terrain</h2>

  <form #terrainForm="ngForm" (ngSubmit)="createTerrain(terrainForm)">
    <label for="nom">Nom :</label>
    <input id="nom" placeholder="Nom" [(ngModel)]="nom" name="nom" type="text" required />

    <label for="desc">Description :</label>
    <input id="desc" placeholder="Description" [(ngModel)]="description" name="description" type="text" required />

    <label for="qua">Quantité :</label>
    <input id="qua" placeholder="Quantité" [(ngModel)]="quantite" name="quantite" type="text" required />

    <label>Coordonnées :</label>
    <div class="coordonnees">
      <label for="lat">Latitude :</label>
      <input id="lat" placeholder="Latitude" [(ngModel)]="latitude" type="text" name="latitude" required />
      <label for="long">Longitude :</label>
      <input id="long" placeholder="Longitude" [(ngModel)]="longitude" type="text" name="longitude" required />
    </div>

    <button type="submit">Créer</button>
  </form>
</div>
