# Default ignored files
/shelf/
/workspace.xml
/CapGemini/poly-gemimi/src/main/resources/application.properties
/CapGemini/poly-gemimi/target/classes/application.properties
# Editor-based HTTP Client requests
/httpRequests/
